# SERVER
server.servlet.context-path=/api/v1

# DATABASE
spring.datasource.url=your_db
spring.datasource.driverClassName=your_driver_class
spring.datasource.username=your_name
spring.datasource.password=your_password

# JPA
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.show_sql=true

# logging
# logging.logback.rollingpolicy.max-history=30
# logging.logback.rollingpolicy.max-file-size=100MB
# logging.file.name=logs/sbb.log
# logging.logback.rollingpolicy.file-name-pattern=${LOG_FILE}.%d{yyyy-MM-dd}-%i.log
# logging.pattern.dateformat=yyyy-MM-dd HH:mm:ss.SSS,Asia/Seoul